body {
    /* padding-top: 72px; */
    /* padding-bottom: 32px; */
}

.form-control[disabled], .form-control[readonly] {
    cursor: auto;
}

hidden {
    display: none;
}

#balance_display {
    font-style: monospace;
    font-size: large;
}

.col-lg-2 {
    width: 18%;
}

.col-lg-offset-2 { 
    margin-left: 18%;
}

.col-lg-10 {
    width: 82%;
}

.col-lg-10-inner {
    width: 80.5%;
}

.address-field {
    font-family: monospace;
}

.progress .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}?

.navbar-inverse .navbar-brand {
    color: #FF0000;
}

body {
  padding-top: 72px;
  padding-bottom: 32px;
}
.sent {
	    color: red;

}
.sent_with_change {
	    color: orange;

}
.received {
	    color: green;
}
